# ignore DS_Store files
.DS_Store

# ingore Python cache files
__pycache__/
*.py[cod]

# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/ 

# ignore virtual environment directories
venv/
.venv/
.env
__pycache__/market_analyst.cpython-313.pyc

# ignore log files
market_analyst.cpython-313.pyc
